<nav class="container">
  <ul>
    <li><h1><a href="/">Sound</a></h1></li>
  </ul>
  <ul>
    {% if user %}
      <li><a href="/dashboard"><button>Dashboard</button></a></li>
      <li><a href="/auth/logout"><button class="secondary">Logout</button></a></li>
    {% else %}
      <li><a href="/login"><button class="outline">Login</button></a></li>
      <li><a href="/register"><button class="outline secondary">Register</button></a></li>
    {% endif %}
  </ul>
</nav>
  <style>
    ul li{
        margin-left: 10px;
        margin-right: 10px;
    }
  </style>